{% macro dateExplanationHint(data) %}
  <p class="govuk-hint">
    Dates shown on this page are based on the {{ data | providedDateName }} date that you entered
    and the eligibility rules for shared parental leave and pay.
  </p>
{% endmacro %}
