// App specific sass should be written or imported here.
// Sass will be browserified via /common/assets/sass/application.scss and served from the /public folder.

.eligibility-result {
  display: flex;
  .eligibility-icon {
    width: 25px;
  }
}

.get-help-group {
  margin-top: 30px;
}

.cookie-banner {
  padding: 0px;
}
