{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "hidden-fields/macro.njk" import appendHiddenFields %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "macro.njk" import pushToGoogleAnalyticsDataLayer %}

{% extends "layout.njk" %}

{% block pageTitle -%}
  {{ "Will the " + (data | primaryName) + " care for the child with a partner?" | pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: backPath()
  }) }}
{% endblock %}

{% block content %}
  {% set primaryName = data | primaryName %}
  {% set hintText %}
    <p class="govuk-hint">
      The partner is one of the following:
    </p>
    <ul class="govuk-list--bullet">
      <li>the {{ primaryName }}’s husband, wife or civil partner</li>
      {% set secondaryName = "child’s other parent" if (data | isBirth) else ("secondary adopter" if (data | isAdoption) else "parental order parent’s partner") %}
      <li>the {{ secondaryName }}</li>
      <li>the {{ primaryName }}’s partner (if they live with the {{ primaryName }} and the child)</li>
    </ul>
  {% endset %}

  {% if errors["caring-with-partner"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        errors["caring-with-partner"]
      ]
    }) }}
    {{ pushToGoogleAnalyticsDataLayer("error_msg", errors["caring-with-partner"].text, "Errorshown") }}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="POST">
        {% call appendHiddenFields(data) %}
          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "caring-with-partner",
            name: "caring-with-partner",
            fieldset: {
              legend: {
                text: "Will the " + primaryName + " care for the child with a partner?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              html: hintText
            },
            errorMessage : errors["caring-with-partner"],
            items: [
              {
                value: "yes",
                text: "Yes",
                checked: data["caring-with-partner"] | isYes
              },
              {
                value: "no",
                text: "No",
                checked: data["caring-with-partner"] | isNo
              }
            ]
          }) }}
          {{ govukButton({
            text: "Continue"
          }) }}
        {% endcall %}
      </form>
    </div>
  </div>
{% endblock %}
