{% from "radios/macro.njk" import govukRadios %}
{% from "macros/hidden-inputs.njk" import hiddenInputs %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% extends "layout.njk" %}

{% block content %}
  {% if errors["caring-with-partner"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [{
        text: errors['caring-with-partner'],
        href: '#caring-with-partner'
      }]
    }) }}
  {% endif %}

  {% set questionText %}
    Will the {{ data() | primaryName }} care for the child with a partner?
  {% endset %}

  {% set hintText %}
    <p class="govuk-hint">
      The partner is one of the following:
    </p>
    <ul>
      {% if data() | isBirth %}
        <li>the mother’s husband, wife or civil partner</li>
        <li>the child’s other parent</li>
        <li>the mother’s partner (if they live with the mother and the child)</li>
      {% else %}
        <li>the primary adopter's husband, wife or civil partner</li>
        <li>the secondary adopter</li>
        <li>the primary adopter's partner (if they live with the primary adopter and the child)</li>
      {% endif %}
    </ul>
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="caring-with-partner" method="POST">
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "caring-with-partner",
          name: "caring-with-partner",
          fieldset: {
            legend: {
              text: questionText,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            html: hintText
          },
          errorMessage : errors['caring-with-partner'] if errors['caring-with-partner'],
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ hiddenInputs(data, {
          exclude: [
            'caring-with-partner'
          ]
        }) }}
        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>
{% endblock %}