{% from "hidden-fields/macro.njk" import appendHiddenFields %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}

{% extends "layout.njk" %}

{% block content %}
  {% set currentParent = currentParentFromUrl | getCurrentParentFromUrl %}
  {% set formKey = "[" + currentParent + "][employment-status]" %}

  {% if errors["employment-status"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        errors["employment-status"]
      ]
    }) }}
  {% endif %}

  {% set questionText %}
    What is the {{ data | currentParentName(currentParent) }}’s employment status?
  {% endset %}

  {% set hintText %}
    Read about <a href="https://www.gov.uk/employment-status">employment statuses</a> if you aren’t sure which one applies.
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-xl">{{ data | currentParentName(currentParent) | capitalize }}’s eligibility</span>

      <form method="POST">
        {% call appendHiddenFields(data) %}
          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "employment-status",
            name: formKey,
            fieldset: {
              legend: {
                text: questionText,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {
              html: hintText
            },
            errorMessage: {
              text: errors["employment-status"]["text"]
            }  if errors["employment-status"],
            items: [
              {
                value: "employee",
                text: "Employee",
                checked: data[currentParent]["employment-status"] == "employee"
              },
              {
                value: "worker",
                text: "Worker",
                checked: data[currentParent]["employment-status"] == "worker"
              },
              {
                value: "self-employed",
                text: "Self-employed",
                checked: data[currentParent]["employment-status"] == "self-employed"
              },
              {
                value: "unemployed",
                text: "Unemployed",
                checked: data[currentParent]["employment-status"] == "unemployed"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

        {% endcall %}
      </form>
    </div>
  </div>
{% endblock %}