{% extends "layout.njk" %}

{% block pageTitle -%}
  {{ null | pageTitle }}
{%- endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        Check if you can get Shared Parental Leave and Pay
      </h1>
      <p>
        Use this tool to check if you or your partner can get <a href="{{ mainstream_guidance_root_path }}">Shared Parental Leave and Pay</a>.
      </p>
      <p>
        You can check eligibility for each parent individually or both together.
        In either case you’ll need to answer questions on work and earnings for both parents.
      </p>
      <h2 class="govuk-heading-m">
        Before you start
      </h2>
      <p>
        You’ll need to know:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your child’s due date, birth date or placement date</li>
        <li>employment status for the parent whose eligibility you’re checking</li>
        <li>basic work and earnings information for both parents</li>
      </ul>
      <a href="/nature-of-parenthood" class="govuk-button govuk-button--start">Start now</a>
    </div>
  </div>
{% endblock %}
