{% extends "layout.njk" %}

{% block pageTitle -%}
  {{ null | pageTitle }}
{%- endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">
        Check if you can get shared parental leave and pay
      </h1>
      <p>
        Here you can check if you or your partner can get <a href="{{ mainstream_guidance_root_path }}">shared parental leave and pay</a>.
      </p>
      <h2 class="govuk-heading-m">
        Before you start
      </h2>
      <p>
        You’ll need to know:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your child’s due date, birth date or placement date</li>
        <li> <a href="{{ employment_status_root_path }}">employment status</a> for the parent whose eligibility you’re checking</li>
        <li>basic work and earnings information for both parents</li>
        <li>if you are having a child through birth you need to know if the mother is eligible for <a href="https://www.gov.uk/maternity-pay-leave/eligibility" class="govuk-link">Statutory Maternity Pay</a> and if the father/partner is eligible for <a href="https://www.gov.uk/paternity-pay-leave/eligibility" class="govuk-link">Statutory Paternity Pay</a></li>
        <li>if you are having a child through adoption (including surrogacy) you need to know if the primary adopter is eligible for <a href="https://www.gov.uk/adoption-pay-leave/eligibility" class="govuk-link">Statutory Adoption Pay</a> and if the father/partner is eligible for <a href="https://www.gov.uk/paternity-pay-leave/eligibility" class="govuk-link">Statutory Paternity Pay</a></li>
      </ul>
      <a href="/nature-of-parenthood" class="govuk-button govuk-button--start">Start now</a>
    </div>
  </div>
{% endblock %}
