{% extends "layout.njk" %}
{% from "back-link/macro.njk" import govukBackLink %}

{% block pageTitle -%}
  {{ "Not eligible" | pageTitle }}
{%- endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: backPath()
  }) }}
{% endblock %}

{% set primaryName = (data | primaryName) %}
{% set isBirth = (data | isBirth) %}
{% set isAdoption = (data | isAdoption) %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">
        You’re not eligible for Shared Parental Leave and Pay
      </h1>
      <p>
        To be eligible the {{ primaryName }} must share responsibility
        for the child from {{ "placement" if isAdoption else "birth" }} with a partner.
      </p>

      {% if isBirth %}
        <p>
          For more information, check the guidelines for <a href="https://www.gov.uk/shared-parental-leave-and-pay/eligibility-for-birth-parents">eligiblity</a>.
        </p>
        <p>
          You may able to get:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Maternity Leave and Pay</li>
          <li>Maternity Allowance</li>
        </ul>
        <p>
          <a href="https://www.gov.uk/pay-leave-for-parents">Check if you can get these types of leave and pay</a>
        </p>
      {% else %}
        <p>
          For more information, check the guidelines for <a href="https://www.gov.uk/shared-parental-leave-and-pay/eligibility-for-adopters">eligiblity</a>.
        </p>
        <p>
          You may able to get <a href="https://www.gov.uk/adoption-pay-leave">adoption pay and leave</a>.
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}
