{% from "hidden-fields/macro.njk" import appendHiddenFields %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% from "components/date-explanation-hint.njk" import dateExplanationHint %}

{% extends "layout.njk" %}

{% set currentParentName = data | currentParentName(currentParent) %}
{% set otherParentName = data | otherParentName(currentParent) %}

{% block pageTitle -%}
  {{ (currentParentName | capitalize) + "’s eligibility" | pageTitle((otherParentName | capitalize) + "’s work and pay") }}
{%- endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: backPath()
  }) }}
{% endblock %}

{% block content %}
  {% if (errors["other-parent-work"] or errors["other-parent-pay"]) %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        errors["other-parent-work"],
        errors["other-parent-pay"]
      ] | removeEmpty
    }) }}
  {% endif %}

  {% set relevantWeek = data | relevantWeek %}

  {% set otherParentWorkTitle %}
    {% if (data | isAdoption) %}
      {% if (relevantWeek | isInPast) %}
        Did the {{ otherParentName }} work (or will they have worked)
      {% else %}
        Will the {{ otherParentName }} have worked
      {% endif %}
      for at least 26 weeks during the 66 weeks ending with your placement date?
    {% else %}
      {% if (relevantWeek | isInPast) %}
        Did the {{ otherParentName }} work
      {% else %}
        Will the {{ otherParentName }} have worked
      {% endif %}
      for at least 26 weeks between
      {{ relevantWeek | offsetWeeks(-51) | formatForDisplay }}
      and {{ relevantWeek | offsetWeeks(+14) | endOfWeek | formatForDisplay }}?
    {% endif %}
  {% endset %}

  {% set otherParentPayTitle %}
    {% if (data | isAdoption) %}
      {% if (relevantWeek | isInPast) %}
        Did the {{ otherParentName }} earn (or will they have earned)
      {% else %}
        Will the {{ otherParentName }} have earned
      {% endif %}
      a total of £390 or more in any 13 weeks during the 66 weeks ending with your placement date?
    {% else %}
      {% if data | relevantWeek | isInPast %}
        Did the {{ otherParentName }} earn
      {% else %}
        Will the {{ otherParentName }} have earned
      {% endif %}
      a total of £390 or more over 13 weeks between
      {{ relevantWeek | offsetWeeks(-51) | formatForDisplay }}
      and {{ relevantWeek | offsetWeeks(+14) | endOfWeek | formatForDisplay }}?
    {% endif %}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">
          {{ currentParentName | capitalize }}’s eligibility
        </span>
        {{ otherParentName | capitalize }}’s work and pay
      </h1>
      {% if data | isBirth  or data | isSurrogacy %}
        {{ dateExplanationHint(data) }}
      {% endif %}
      <form method="POST">
        {% call appendHiddenFields(data) %}
          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "other-parent-work",
            name: currentParent + "[other-parent-work]",
            fieldset: {
              legend: {
                text: otherParentWorkTitle,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            errorMessage: errors["other-parent-work"],
            hint: {
              text: "The 26 weeks do not need to be consecutive. They can be full or partial weeks."
            },
            items: [
              {
                value: "yes",
                text: "Yes",
                checked: data[currentParent]["other-parent-work"] | isYes
              },
              {
                value: "no",
                text: "No",
                checked: data[currentParent]["other-parent-work"] | isNo
              }
            ]
          }) }}
          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "other-parent-pay",
            name: currentParent + "[other-parent-pay]",
            fieldset: {
              legend: {
                text: otherParentPayTitle,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            errorMessage: errors["other-parent-pay"],
            hint: {
              text: "The 13 weeks do not need to be consecutive."
            },
            items: [
              {
                value: "yes",
                text: "Yes",
                checked: data[currentParent]["other-parent-pay"] | isYes
              },
              {
                value: "no",
                text: "No",
                checked: data[currentParent]["other-parent-pay"] | isNo
              }
            ]
          }) }}
          {{ govukButton({
            text: "Continue"
          }) }}
        {% endcall %}
      </form>
    </div>
  </div>

{% endblock %}
