{% from "back-link/macro.njk" import govukBackLink %}
{% from "date-input/macro.njk" import govukDateInput %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "hidden-fields/macro.njk" import appendHiddenFields %}
{% from "button/macro.njk" import govukButton %}

{% extends "layout.njk" %}

{% block pageTitle %}
  Plan leave and pay when you have a child
{% endblock %}


{% block content %}

  {% if errors["start-date"] %}
    {{govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors["start-date"]
    }) }}

    {% set errorHtml %}
      <ul>
        {% for error in errors["start-date"] %}
          <li>{{ error.text }}</li>
        {% endfor %}
      </ul>
    {% endset %}
  {% endif %}

  {% set questionText %}
    {% if data | isBirth %}
      When is the baby due, or when was the baby born?
    {% else %}
      When is or was your match date?
    {% endif %}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST">
        {% call appendHiddenFields(data) %}
          {{ govukDateInput({
            id: "start-date",
            namePrefix: "start-date",
            fieldset: {
              legend: {
                text: questionText,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {
              text: "For example, 27 08 2019"
            },
            errorMessage: { html: errorHtml } if errorHtml,
            items: [
              {
                name: "day",
                classes: "govuk-input--width-2" + (" govuk-input--error" if errors | hasStartDateError('day') else ""),
                value: data["start-date-day"]
              },
              {
                name: "month",
                classes: "govuk-input--width-2" + (" govuk-input--error" if errors | hasStartDateError('month') else ""),
                value: data["start-date-month"]
              },
              {
                name: "year",
                classes: "govuk-input--width-4" + (" govuk-input--error" if errors | hasStartDateError('year') else ""),
                value: data["start-date-year"]
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

        {% endcall %}
      </form>
    </div>
  </div>

{% endblock %}
