{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "hidden-fields/macro.njk" import appendHiddenFields %}
{% from "radios/macro.njk" import govukRadios %}
{% from "macro.njk" import pushToGoogleAnalyticsDataLayer %}

{% from "components/date-explanation-hint.njk" import dateExplanationHint %}

{% extends "layout.njk" %}

{% set currentParentName = (data | currentParentName(currentParent)) %}
{% set currentParentInitialPayName = (data | currentParentInitialPayName(currentParent)) %}

{% block pageTitle -%}
  {{ (currentParentName | capitalize) + "’s eligibility" | pageTitle((currentParentName | capitalize) + "’s work and pay") }}
{%- endblock %}

{% block beforeContent %}
  {{ super() }}

  {{ govukBackLink({
    text: "Back",
    href: backPath()
  }) }}
{% endblock %}

{% block content %}
  {% set relevantWeek = data | relevantWeek %}
  {% set workStartTitle %}
    Did the {{ currentParentName }} start their current or most recent job before
    {{ relevantWeek | offsetWeeks(-25) | endOfWeek | formatForDisplay }}?
  {% endset %}

  {% set continuousWorkTitle %}
    {% if (relevantWeek | isInPast) %}
      Was the {{ currentParentName }} still working
    {% else %}
      Will the {{ currentParentName }} still be working
    {% endif %}
    in this job on {{ relevantWeek | formatForDisplay }}?
  {% endset %}

  {% set payThresholdTitle %}
    Is the {{ currentParentName }} eligible for Statutory {{ currentParentInitialPayName | capitalize }} Pay?
  {% endset %}

  {% set payThresholdHint %}
    {% set hintLink = "https://www.gov.uk/maternity-pay-leave/eligibility" if data | isBirth else "https://www.gov.uk/adoption-pay-leave/eligibility" %}
    If you are not sure, you can
    <a href="https://www.gov.uk/{{ currentParentInitialPayName }}-pay-leave/eligibility">
      check if you are eligible for Statutory {{ currentParentInitialPayName | capitalize }} Pay
    </a>.
  {% endset %}

  {% if (errors["work-start"] or errors["continuous-work"] or errors["pay-threshold"]) %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        errors["work-start"],
        errors["continuous-work"],
        errors["pay-threshold"]
      ] | removeEmpty
    }) }}
    {% if (errors["work-start"]) %}
        {{ pushToGoogleAnalyticsDataLayer("error_msg", errors["work-start"].text, "Errorshown") }} 
    {% endif %}
    {% if (errors["continuous-work"]) %}
        {{ pushToGoogleAnalyticsDataLayer("error_msg", errors["continuous-work"].text, "Errorshown") }} 
    {% endif %}
    {% if (errors["pay-threshold"]) %}
        {{ pushToGoogleAnalyticsDataLayer("error_msg", errors["pay-threshold"].text, "Errorshown") }} 
    {% endif %}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">
          {{ currentParentName | capitalize }}’s eligibility
        </span>
        {{ currentParentName | capitalize }}’s work and pay
      </h1>
      {{ dateExplanationHint(data) }}
      <form action="{{formaction}}" method="POST">
        {% call appendHiddenFields(data) %}
          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "work-start",
            name: currentParent + "[work-start]",
            fieldset: {
              legend: {
                text: workStartTitle,
                classes: "govuk-fieldset__legend--m"
              }
            },
            errorMessage: errors["work-start"],
            items: [
              {
                value: "yes",
                text: "Yes",
                checked: data[currentParent]["work-start"] | isYes
              },
              {
                value: "no",
                text: "No",
                checked: data[currentParent]["work-start"]  | isNo
              }
            ]
          }) }}
          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "continuous-work",
            name: currentParent + "[continuous-work]",
            fieldset: {
              legend: {
                text: continuousWorkTitle,
                classes: "govuk-fieldset__legend--m"
              }
            },
            errorMessage: errors["continuous-work"],
            items: [
              {
                value: "yes",
                text: "Yes",
                checked: data[currentParent]["continuous-work"] | isYes
              },
              {
                value: "no",
                text: "No",
                checked: data[currentParent]["continuous-work"] | isNo
              }
            ]
          }) }}
          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "pay-threshold",
            name: currentParent + "[pay-threshold]",
            fieldset: {
              legend: {
                text: payThresholdTitle,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: payThresholdHint | safe
            },
            errorMessage: errors["pay-threshold"],
            items: [
              {
                value: "yes",
                text: "Yes",
                checked: data[currentParent]["pay-threshold"] | isYes
              },
              {
                value: "no",
                text: "No",
                checked: data[currentParent]["pay-threshold"] | isNo
              }
            ]
          }) }}
          {{ govukButton({
            text: "Continue"
          }) }}
        {% endcall %}
      </form>
    </div>
  </div>

{% endblock %}
