{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "hidden-fields/macro.njk" import appendHiddenFields %}
{% from "radios/macro.njk" import govukRadios %}

{% from "components/date-explanation-hint.njk" import dateExplanationHint %}

{% extends "layout.njk" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backPath()
  }) }}
{% endblock %}

{% block content %}
  {% set currentParentName = data | currentParentName(currentParent) %}
  {% set relevantWeek = data | relevantWeek %}

  {% set workStartTitle %}
    Did the {{ currentParentName }} start their current or most recent job before
    {{ relevantWeek | offsetWeeks(-26) | formatForDisplay }}?
  {% endset %}

  {% set continuousWorkTitle %}
    {% if (relevantWeek | isInPast) %}
      Was the {{ currentParentName }} still working
    {% else %}
      Will the {{ currentParentName }} still be working
    {% endif %}
    in this job on {{ relevantWeek | formatForDisplay }}?
  {% endset %}

  {% set payThresholdTitle %}
    {% if data | relevantWeek | isInPast %}
      Did the {{ currentParentName }} earn
    {% else %}
      Will the {{ currentParentName }} have earned
    {% endif %}
    more than £118 per week in this job between
    {{ relevantWeek | offsetWeeks(-8) | formatForDisplay }}
    and
    {{ relevantWeek | formatForDisplay }}?
  {% endset %}

  {% if (errors["work-start"] or errors["continuous-work"] or errors["pay-threshold"]) %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        errors["work-start"],
        errors["continuous-work"],
        errors["pay-threshold"]
      ] | removeEmpty
    }) }}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">
          {{ currentParentName | capitalise }}’s eligibility
        </span>
        {{ currentParentName | capitalise }}’s work and pay
      </h1>
      {{ dateExplanationHint(data) }}
      <form action="{{formaction}}" method="POST">
        {% call appendHiddenFields(data) %}
          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "work-start",
            name: currentParent + "[work-start]",
            fieldset: {
              legend: {
                text: workStartTitle,
                classes: "govuk-fieldset__legend--m"
              }
            },
            errorMessage: errors["work-start"],
            items: [
              {
                value: "yes",
                text: "Yes",
                checked: data[currentParent]["work-start"] | isYes
              },
              {
                value: "no",
                text: "No",
                checked: data[currentParent]["work-start"]  | isNo
              }
            ]
          }) }}
          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "continuous-work",
            name: currentParent + "[continuous-work]",
            fieldset: {
              legend: {
                text: continuousWorkTitle,
                classes: "govuk-fieldset__legend--m"
              }
            },
            errorMessage: errors["continuous-work"],
            items: [
              {
                value: "yes",
                text: "Yes",
                checked: data[currentParent]["continuous-work"] | isYes
              },
              {
                value: "no",
                text: "No",
                checked: data[currentParent]["continuous-work"] | isNo
              }
            ]
          }) }}
          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "pay-threshold",
            name: currentParent + "[pay-threshold]",
            fieldset: {
              legend: {
                text: payThresholdTitle,
                classes: "govuk-fieldset__legend--m"
              }
            },
            errorMessage: errors["pay-threshold"],
            items: [
              {
                value: "yes",
                text: "Yes",
                checked: data[currentParent]["pay-threshold"] | isYes
              },
              {
                value: "no",
                text: "No",
                checked: data[currentParent]["pay-threshold"] | isNo
              }
            ]
          }) }}
          {{ govukButton({
            text: "Continue"
          }) }}
        {% endcall %}
      </form>
    </div>
  </div>

{% endblock %}
